source "Kconfig.zephyr"

menu "Hello Timer Configuration"

config SNTP_HOSTNAME
  string "Hostname for SNTP Server"
  help
    Sets the SNTP Server Hostname

config WIFI_SSID
  string "SSID Wi-Fi connection"
  help
    Sets WiFi SSID

config WIFI_PASSWD
  string "Password Wi-Fi connection"
    help
      Sets WiFi password

config LOCAL_TIME
  int "Locale time converter offset"
  default 0
    help
      Sets Locale time converter like: -3 or +3

endmenu
