source "Kconfig.zephyr"

menu "Hello Timer Configuration"

config BLINK_TIMER_INTERVAL
  int "Blink Timer Interval (msec)"
  default 1500
  range 10 600000
  help
    Sets the interval in miliseconds for the blink timer handler

endmenu
