source "Kconfig.zephyr"

menu "Hello Timer Configuration"

config HELLOTIMER_INTERVAL
  int "Hello Timer Interval (msec)"
  default 1500
  range 10 600000
  help
    Sets the interval in miliseconds for the hello_timer handler

config HELLOTIMER_INIT
  int "Hello Timer Init (msec)"
  default 0
  range 0 600000
  help
    Sets the interval in milliseconds to call the hello_timer handler for the first time

endmenu
